{% extends "layout.html" %}

{% block body %}

<h3>Hakkımızda</h3>
<hr>

<p>Merhaba, ben Yiğit Demirayak, tutkulu bir Yazılım Mühendisiyim. Modern programlama dillerinde uzmanlık kazanmış olup, özellikle Java, Python, HTML ve C# kullanarak yenilikçi ve ölçeklenebilir yazılım çözümleri geliştirmekteyim. Veri yapıları ve algoritmalar konusundaki derin bilgimle, karmaşık problemleri etkin ve verimli bir şekilde çözme yeteneğine sahibim. Teknolojiyi şekillendiren projelerde yer alarak, yazılım dünyasına katkıda bulunmayı hedefliyorum.</p>

{% endblock body %}